<div id="lab-viewport"
     style="overflow: hidden; position: relative; pointer-events: none; height: 345px; width: 842px; top: -36px; left: -123px;"
     class="ui-selectable">
    <div id="customText2" class="customShape customText context-menu ck-content jtk-draggable ui-selectee" data-path="2"
         style="position: absolute; display: block; top: 50.9943px; left: 329.995px; width: 427px; height: 53px; cursor: move; z-index: 1001;">
        <p positionable="true"><a
                href="https://docs.google.com/document/d/1o6d8961r00FoBOHW6ZhXxLwJ5JB2EdeFeHK6PcU5PJM/edit"
                target="_blank" rel="noopener noreferrer">LINK TO THE GUIDELINES (outdated)</a></p></div>
    <div id="customText1" class="customShape customText context-menu ck-content jtk-draggable" data-path="1"
         style="position: absolute; display: block; top: 270px; left: 189px; width: 638px; height: 60px; cursor: move; z-index: 1001;">
        <p positionable="true"><span
                style="font-size:20px;"><strong><- After protecting the work, press Destroy Lab</strong></span></p>
    </div>
    <div id="node1" class="context-menu node node1 node_frame jtk-droppable jtk-endpoint-anchor jtk-connected"
         style="top: 132px; left: 381px" data-path="1" data-status="0" data-name="R1">
        <div class="tag hidden" title="Connect to another node">
            <i class="fa fa-plug plug-icon dropdown-toggle ep"></i>
        </div>
        <div class="quickset tag hidden box_flex">
            <i data-path="1" title="Start" class="action-nodestart button node_start fa fa-play"></i>
            <i data-path="1" title="Stop" class="action-nodestop button node_stop fa fa-stop "></i>
            <i data-path="1" title="Edit" class="action-nodeedit control button node_edit fa fa fa-pencil-square"></i>
            <i data-path="1" title="Wipe" class="action-nodewipe button node_wipe fa fa fa-eraser"></i>

        </div>
        <i title="Telnet: null" onmousedown="nodehtmlconsoledown()" class="node_icon nodehtmlconsole" nid="1"><img
                src="/images/icons/Router.png" class="node_image"></i>
        <div class="node_name"><i class="node_status fa"></i>&nbsp;R1</div>
    </div>
    <div id="node2" class="context-menu node node2 node_frame jtk-droppable jtk-endpoint-anchor jtk-connected"
         style="top: 132px; left: 507px" data-path="2" data-status="0" data-name="R2">
        <div class="tag hidden" title="Connect to another node">
            <i class="fa fa-plug plug-icon dropdown-toggle ep"></i>
        </div>
        <div class="quickset tag hidden box_flex">
            <i data-path="2" title="Start" class="action-nodestart button node_start fa fa-play"></i>
            <i data-path="2" title="Stop" class="action-nodestop button node_stop fa fa-stop "></i>
            <i data-path="2" title="Edit" class="action-nodeedit control button node_edit fa fa fa-pencil-square"></i>
            <i data-path="2" title="Wipe" class="action-nodewipe button node_wipe fa fa fa-eraser"></i>

        </div>
        <i title="Telnet: null" onmousedown="nodehtmlconsoledown()" class="node_icon nodehtmlconsole" nid="2"><img
                src="/images/icons/Router.png" class="node_image"></i>
        <div class="node_name"><i class="node_status fa"></i>&nbsp;R2</div>
    </div>
    <div id="node3" class="context-menu node node3 node_frame jtk-droppable jtk-endpoint-anchor jtk-connected"
         style="top: 132px; left: 249px" data-path="3" data-status="0" data-name="S1">
        <div class="tag hidden" title="Connect to another node">
            <i class="fa fa-plug plug-icon dropdown-toggle ep"></i>
        </div>
        <div class="quickset tag hidden box_flex">
            <i data-path="3" title="Start" class="action-nodestart button node_start fa fa-play"></i>
            <i data-path="3" title="Stop" class="action-nodestop button node_stop fa fa-stop "></i>
            <i data-path="3" title="Edit" class="action-nodeedit control button node_edit fa fa fa-pencil-square"></i>
            <i data-path="3" title="Wipe" class="action-nodewipe button node_wipe fa fa fa-eraser"></i>

        </div>
        <i title="Telnet: null" onmousedown="nodehtmlconsoledown()" class="node_icon nodehtmlconsole" nid="3"><img
                src="/images/icons/Switch.png" class="node_image"></i>
        <div class="node_name"><i class="node_status fa"></i>&nbsp;S1</div>
    </div>
    <div id="node4" class="context-menu node node4 node_frame jtk-droppable jtk-endpoint-anchor jtk-connected"
         style="top: 135px; left: 621px" data-path="4" data-status="0" data-name="S2">
        <div class="tag hidden" title="Connect to another node">
            <i class="fa fa-plug plug-icon dropdown-toggle ep"></i>
        </div>
        <div class="quickset tag hidden box_flex">
            <i data-path="4" title="Start" class="action-nodestart button node_start fa fa-play"></i>
            <i data-path="4" title="Stop" class="action-nodestop button node_stop fa fa-stop "></i>
            <i data-path="4" title="Edit" class="action-nodeedit control button node_edit fa fa fa-pencil-square"></i>
            <i data-path="4" title="Wipe" class="action-nodewipe button node_wipe fa fa fa-eraser"></i>

        </div>
        <i title="Telnet: null" onmousedown="nodehtmlconsoledown()" class="node_icon nodehtmlconsole" nid="4"><img
                src="/images/icons/Switch.png" class="node_image"></i>
        <div class="node_name"><i class="node_status fa"></i>&nbsp;S2</div>
    </div>
    <div id="node5" class="context-menu node node5 node_frame jtk-droppable jtk-endpoint-anchor jtk-connected"
         style="top: 126px; left: 138px" data-path="5" data-status="0" data-name="PC-A">
        <div class="tag hidden" title="Connect to another node">
            <i class="fa fa-plug plug-icon dropdown-toggle ep"></i>
        </div>
        <div class="quickset tag hidden box_flex">
            <i data-path="5" title="Start" class="action-nodestart button node_start fa fa-play"></i>
            <i data-path="5" title="Stop" class="action-nodestop button node_stop fa fa-stop "></i>
            <i data-path="5" title="Edit" class="action-nodeedit control button node_edit fa fa fa-pencil-square"></i>
            <i data-path="5" title="Wipe" class="action-nodewipe button node_wipe fa fa fa-eraser"></i>

        </div>
        <i title="Telnet: null" onmousedown="nodehtmlconsoledown()" class="node_icon nodehtmlconsole" nid="5"><img
                src="/images/icons/Desktop.png" class="node_image"></i>
        <div class="node_name"><i class="node_status fa"></i>&nbsp;PC-A</div>
    </div>
    <div id="node6" class="context-menu node node6 node_frame jtk-droppable jtk-endpoint-anchor jtk-connected"
         style="top: 129px; left: 753px" data-path="6" data-status="0" data-name="PC-B">
        <div class="tag hidden" title="Connect to another node">
            <i class="fa fa-plug plug-icon dropdown-toggle ep"></i>
        </div>
        <div class="quickset tag hidden box_flex">
            <i data-path="6" title="Start" class="action-nodestart button node_start fa fa-play"></i>
            <i data-path="6" title="Stop" class="action-nodestop button node_stop fa fa-stop "></i>
            <i data-path="6" title="Edit" class="action-nodeedit control button node_edit fa fa fa-pencil-square"></i>
            <i data-path="6" title="Wipe" class="action-nodewipe button node_wipe fa fa fa-eraser"></i>

        </div>
        <i title="Telnet: null" onmousedown="nodehtmlconsoledown()" class="node_icon nodehtmlconsole" nid="6"><img
                src="/images/icons/Desktop.png" class="node_image"></i>
        <div class="node_name"><i class="node_status fa"></i>&nbsp;PC-B</div>
    </div>
    <div class="jtk-endpoint jtk-endpoint-anchor jtk-draggable jtk-droppable jtk-endpoint-connected"
         style="display: block; width: 10px; height: 0px; background: transparent; position: absolute; left: 0px; top: 0px;"></div>
    <div class="jtk-endpoint jtk-endpoint-anchor jtk-draggable jtk-droppable jtk-endpoint-connected jtk-endpoint-full"
         style="display: block; width: 10px; height: 0px; background: transparent; position: absolute; left: 0px; top: 0px;"></div>
    <svg style="position:absolute;left:194px;top:156.5px" width="58" height="7.5" pointer-events="none"
         position="absolute" version="1.1" xmlns="http://www.w3.org/1999/xhtml"
         class="jtk-connector node3 node5 frame_ethernet">
        <path d="M 52 0 L 0 1.5 " transform="translate(3,3)" pointer-events="visibleStroke" version="1.1"
              xmlns="http://www.w3.org/1999/xhtml" fill="none" stroke="#0066aa" style="" stroke-width="2"></path>
    </svg>
    <div class="jtk-overlay node3 node5 " id="jsPlumb_7_6"
         style="position: absolute; transform: translate(-50%, -50%); left: 240.7px; top: 159.225px;">
        <div class="node_interface" position="src" connect_id="network_id:1">e0/0</div>
    </div>
    <div class="jtk-overlay node3 node5 " id="jsPlumb_7_7"
         style="position: absolute; transform: translate(-50%, -50%); left: 204.3px; top: 160.275px;">
        <div class="node_interface" position="dst" connect_id="network_id:1">e0/0</div>
    </div>
    <div class="jtk-overlay " id="jsPlumb_7_8"
         style="position: absolute; transform: translate(-50%, -50%); left: 222.5px; top: 159.75px;">
        <div class="link_label label_hide" connect_id="network_id:1"></div>
    </div>
    <div class="jtk-endpoint jtk-endpoint-anchor jtk-draggable jtk-droppable jtk-endpoint-connected"
         style="display: block; width: 10px; height: 0px; background: transparent; position: absolute; left: 381px; top: 161.5px;"></div>
    <div class="jtk-endpoint jtk-endpoint-anchor jtk-draggable jtk-droppable jtk-endpoint-connected jtk-endpoint-full"
         style="display: block; width: 10px; height: 0px; background: transparent; position: absolute; left: 323px; top: 159.5px;"></div>
    <svg style="position:absolute;left:320px;top:156.5px" width="64" height="8" pointer-events="none"
         position="absolute" version="1.1" xmlns="http://www.w3.org/1999/xhtml"
         class="jtk-connector node1 node3 frame_ethernet">
        <path d="M 58 2 L 0 0 " transform="translate(3,3)" pointer-events="visibleStroke" version="1.1"
              xmlns="http://www.w3.org/1999/xhtml" fill="none" stroke="#0066aa" style="" stroke-width="2"></path>
    </svg>
    <div class="jtk-overlay node1 node3 " id="jsPlumb_7_14"
         style="position: absolute; transform: translate(-50%, -50%); left: 371.8px; top: 160.7px;">
        <div class="node_interface" position="src" connect_id="network_id:2">e0/1</div>
    </div>
    <div class="jtk-overlay node1 node3 " id="jsPlumb_7_15"
         style="position: absolute; transform: translate(-50%, -50%); left: 331.2px; top: 159.3px;">
        <div class="node_interface" position="dst" connect_id="network_id:2">e0/1</div>
    </div>
    <div class="jtk-overlay " id="jsPlumb_7_16"
         style="position: absolute; transform: translate(-50%, -50%); left: 351.5px; top: 160px;">
        <div class="link_label label_hide" connect_id="network_id:2"></div>
    </div>
    <div class="jtk-endpoint jtk-endpoint-anchor jtk-draggable jtk-droppable jtk-endpoint-connected"
         style="display: block; width: 10px; height: 0px; background: transparent; position: absolute; left: 440px; top: 161.5px;"></div>
    <div class="jtk-endpoint jtk-endpoint-anchor jtk-draggable jtk-droppable jtk-endpoint-connected jtk-endpoint-full"
         style="display: block; width: 10px; height: 0px; background: transparent; position: absolute; left: 507px; top: 161.5px;"></div>
    <svg style="position:absolute;left:437px;top:158.5px" width="73" height="6" pointer-events="none"
         position="absolute" version="1.1" xmlns="http://www.w3.org/1999/xhtml"
         class="jtk-connector node1 node2 frame_ethernet">
        <path d="M 0 0 L 67 0 " transform="translate(3,3)" pointer-events="visibleStroke" version="1.1"
              xmlns="http://www.w3.org/1999/xhtml" fill="none" stroke="#0066aa" style="" stroke-width="2"></path>
    </svg>
    <div class="jtk-overlay node1 node2 " id="jsPlumb_7_22"
         style="position: absolute; transform: translate(-50%, -50%); left: 449.55px; top: 161px;">
        <div class="node_interface" position="src" connect_id="network_id:3">e0/0</div>
    </div>
    <div class="jtk-overlay node1 node2 " id="jsPlumb_7_23"
         style="position: absolute; transform: translate(-50%, -50%); left: 496.45px; top: 161px;">
        <div class="node_interface" position="dst" connect_id="network_id:3">e0/0</div>
    </div>
    <div class="jtk-overlay " id="jsPlumb_7_24"
         style="position: absolute; transform: translate(-50%, -50%); left: 473px; top: 161px;">
        <div class="link_label label_hide" connect_id="network_id:3"></div>
    </div>
    <div class="jtk-endpoint jtk-endpoint-anchor jtk-draggable jtk-droppable jtk-endpoint-connected"
         style="display: block; width: 10px; height: 0px; background: transparent; position: absolute; left: 566px; top: 161.5px;"></div>
    <div class="jtk-endpoint jtk-endpoint-anchor jtk-draggable jtk-droppable jtk-endpoint-connected jtk-endpoint-full"
         style="display: block; width: 10px; height: 0px; background: transparent; position: absolute; left: 621px; top: 162.5px;"></div>
    <svg style="position:absolute;left:563px;top:158.5px" width="61" height="7" pointer-events="none"
         position="absolute" version="1.1" xmlns="http://www.w3.org/1999/xhtml"
         class="jtk-connector node2 node4 frame_ethernet">
        <path d="M 0 0 L 55 1 " transform="translate(3,3)" pointer-events="visibleStroke" version="1.1"
              xmlns="http://www.w3.org/1999/xhtml" fill="none" stroke="#0066aa" style="" stroke-width="2"></path>
    </svg>
    <div class="jtk-overlay node2 node4 " id="jsPlumb_7_30"
         style="position: absolute; transform: translate(-50%, -50%); left: 573.75px; top: 161.15px;">
        <div class="node_interface" position="src" connect_id="network_id:4">e0/1</div>
    </div>
    <div class="jtk-overlay node2 node4 " id="jsPlumb_7_31"
         style="position: absolute; transform: translate(-50%, -50%); left: 612.25px; top: 161.85px;">
        <div class="node_interface" position="dst" connect_id="network_id:4">e0/1</div>
    </div>
    <div class="jtk-overlay " id="jsPlumb_7_32"
         style="position: absolute; transform: translate(-50%, -50%); left: 593px; top: 161.5px;">
        <div class="link_label label_hide" connect_id="network_id:4"></div>
    </div>
    <div class="jtk-endpoint jtk-endpoint-anchor jtk-draggable jtk-droppable jtk-endpoint-connected"
         style="display: block; width: 10px; height: 0px; background: transparent; position: absolute; left: 0px; top: 0px;"></div>
    <div class="jtk-endpoint jtk-endpoint-anchor jtk-draggable jtk-droppable jtk-endpoint-connected jtk-endpoint-full"
         style="display: block; width: 10px; height: 0px; background: transparent; position: absolute; left: 0px; top: 0px;"></div>
    <svg style="position:absolute;left:692px;top:159.5px" width="64" height="7.5" pointer-events="none"
         position="absolute" version="1.1" xmlns="http://www.w3.org/1999/xhtml"
         class="jtk-connector node4 node6 frame_ethernet">
        <path d="M 0 0 L 58 1.5 " transform="translate(3,3)" pointer-events="visibleStroke" version="1.1"
              xmlns="http://www.w3.org/1999/xhtml" fill="none" stroke="#0066aa" style="" stroke-width="2"></path>
    </svg>
    <div class="jtk-overlay node4 node6 " id="jsPlumb_7_38"
         style="position: absolute; transform: translate(-50%, -50%); left: 703.2px; top: 162.225px;">
        <div class="node_interface" position="src" connect_id="network_id:5">e0/0</div>
    </div>
    <div class="jtk-overlay node4 node6 " id="jsPlumb_7_39"
         style="position: absolute; transform: translate(-50%, -50%); left: 743.8px; top: 163.275px;">
        <div class="node_interface" position="dst" connect_id="network_id:5">e0/0</div>
    </div>
    <div class="jtk-overlay " id="jsPlumb_7_40"
         style="position: absolute; transform: translate(-50%, -50%); left: 723.5px; top: 162.75px;">
        <div class="link_label label_hide" connect_id="network_id:5"></div>
    </div>
</div>